body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1{
    color: #610297;
    font-weight: bold;
    text-shadow: 5px 5px 15px darkslateblue;
}

button{
    margin-top: 15px;
    background-color: #610297;
    color:hsl(0, 0%, 95%);
    padding: 10px 10px;
    border-radius: 0.75em;
    font-size: 16px;
    margin: 15px;
    box-shadow: 5px 5px 15px darkslateblue;
}

button:hover{
    background-color: slateblue;
}

form{
    text-align: center;
    background-color: blanchedalmond;
    margin: auto;
    max-width: 400px;
    padding: 0.45em;
    border-radius: 2em;
    box-shadow: 5px 5px 10px darkslateblue;
}

p{
    font-size: 1.20em;
    font-weight: bold;
}

.myLabel{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.25em;
    font-weight: bold;
}

#textBox{
    font-size: 2em;
    width: 50%;
    text-align: center;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 0.5em;
    margin-bottom: 15px;
}
